In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('dat6.csv')

In [3]:
data.columns

Index(['Unnamed: 0', 'application', 'battery', 'id', 'session', 'duration_s',
       'app_name', 'startTime', 'startTimeMillis', 'endTime', 'endTimeMillis',
       'date', 'newid', 'ids'],
      dtype='object')

In [4]:
list_devices = list(data.newid.unique())

In [6]:
data111 = data.loc[data.newid == 111, ['newid', 'ids', 'app_name', 'startTime','startTimeMillis']]

In [8]:
data111 = data111.sort_values('startTimeMillis')

In [10]:
data111.head(20)

,newid,ids,app_name,startTime,startTimeMillis
221465,111,111_1519873604,Google,2018-03-01 04:20:08.095,1519874408095
221372,111,111_1519873604,Google,2018-03-01 04:22:22.535,1519874542535
221373,111,111_1519873604,Google,2018-03-01 04:27:04.361,1519874824361
221397,111,111_1519873604,Google,2018-03-01 04:27:13.142,1519874833142
221488,111,111_1519873604,Google,2018-03-01 04:27:29.893,1519874849893
221489,111,111_1519873604,Google,2018-03-01 04:27:36.442,1519874856442
221374,111,111_1519873604,Google,2018-03-01 04:28:18.871,1519874898871
221398,111,111_1519873604,Google,2018-03-01 04:28:24.892,1519874904892
221389,111,111_1519875973,Google,2018-03-01 05:02:40.869,1519876960869
221468,111,111_1519875973,Google,2018-03-01 05:06:21.085,1519877181085
221399,111,111_1519894814,itsme,2018-03-01 10:00:56.066,1519894856066
221458,111,111_1519894814,Email,2018-03-01 10:01:48.946,1519894908946
221459,111,111_1519894814,Email,2018-03-01 10:01:50.206,1519894910206
221485,111,111_1519895168,Email,2018-03-01 10:06:11.787,1519895171787
221387,111,111_1519895168,Email,2018-03-01 10:06:12.007,1519895172007
221388,111,111_1519895674,Email,2018-03-01 10:14:38.552,1519895678552
221409,111,111_1519945576,Email,2018-03-02 00:07:01.791,1519945621791
221334,111,111_1519945576,Email,2018-03-02 00:07:35.044,1519945655044
221466,111,111_1519945576,Google,2018-03-02 00:08:06.150,1519945686150
221486,111,111_1519945576,Email,2018-03-02 00:08:08.866,1519945688866

In [11]:
data111.app_name.unique()

array(['Google', 'itsme', 'Email', 'Photos', 'Google Play', 'News',
       'Bank app', 'Calculator', 'Sporza', 'Map', 'Browser'], dtype=object)

In [12]:
data2 = data111.groupby('ids').count()
data2.reset_index(level = 0, inplace = True)

ses3 = data2.loc[data2.startTime >= 3,:]
ses3_set = set(ses3.ids)
data3s = data111.loc[data111.ids.isin(ses3_set)]
    
list_apps = list(data3s.app_name.unique())

In [14]:
data3s.head(20)

,newid,ids,app_name,startTime,startTimeMillis
221465,111,111_1519873604,Google,2018-03-01 04:20:08.095,1519874408095
221372,111,111_1519873604,Google,2018-03-01 04:22:22.535,1519874542535
221373,111,111_1519873604,Google,2018-03-01 04:27:04.361,1519874824361
221397,111,111_1519873604,Google,2018-03-01 04:27:13.142,1519874833142
221488,111,111_1519873604,Google,2018-03-01 04:27:29.893,1519874849893
221489,111,111_1519873604,Google,2018-03-01 04:27:36.442,1519874856442
221374,111,111_1519873604,Google,2018-03-01 04:28:18.871,1519874898871
221398,111,111_1519873604,Google,2018-03-01 04:28:24.892,1519874904892
221399,111,111_1519894814,itsme,2018-03-01 10:00:56.066,1519894856066
221458,111,111_1519894814,Email,2018-03-01 10:01:48.946,1519894908946
221459,111,111_1519894814,Email,2018-03-01 10:01:50.206,1519894910206
221409,111,111_1519945576,Email,2018-03-02 00:07:01.791,1519945621791
221334,111,111_1519945576,Email,2018-03-02 00:07:35.044,1519945655044
221466,111,111_1519945576,Google,2018-03-02 00:08:06.150,1519945686150
221486,111,111_1519945576,Email,2018-03-02 00:08:08.866,1519945688866
221467,111,111_1519945576,Google,2018-03-02 00:09:17.948,1519945757948
221491,111,111_1520038794,Google,2018-03-03 02:02:08.903,1520038928903
221460,111,111_1520038794,Google,2018-03-03 02:02:14.098,1520038934098
221528,111,111_1520038794,Google,2018-03-03 02:02:40.809,1520038960809
221400,111,111_1520039356,Google,2018-03-03 02:13:57.947,1520039637947

In [15]:
data3s.app_name.unique()

array(['Google', 'itsme', 'Email', 'Photos', 'Map'], dtype=object)

In [16]:
len(ses3_set )

23

So there are only 5 application and 23 session, therefore it is 100 percent accuracy when we predict 5 application

=================================

In [24]:
data1554 = data.loc[data.newid == 1554, ['newid', 'ids', 'app_name', 'startTime','startTimeMillis']] 
data1554 = data1554.sort_values('startTimeMillis')

In [25]:
data1554.head()

,newid,ids,app_name,startTime,startTimeMillis
2901205,1554,1554_1519862069,Google,2018-03-01 00:58:13.108,1519862293108
2901276,1554,1554_1519920024,WhatsApp,2018-03-01 17:00:33.794,1519920033794
2901378,1554,1554_1519920326,WhatsApp,2018-03-01 17:05:30.746,1519920330746
2901300,1554,1554_1519942678,Google,2018-03-01 23:30:33.084,1519943433084
2901301,1554,1554_1519942678,Google,2018-03-01 23:43:27.850,1519944207850

In [26]:
data1554.app_name.unique()

array(['Google', 'WhatsApp', 'Google_Drive', 'Map', 'Email', 'YouTube',
       'Bank app', 'TelenetMobile', 'Google Play', 'mobileDNA', 'Tinder'], dtype=object)

In [27]:
data2 = data1554.groupby('ids').count()
data2.reset_index(level = 0, inplace = True)

ses3 = data2.loc[data2.startTime >= 3,:]
ses3_set = set(ses3.ids)
data3s = data1554.loc[data1554.ids.isin(ses3_set)]
    
list_apps = list(data3s.app_name.unique())

In [28]:
data3s.head(20)

,newid,ids,app_name,startTime,startTimeMillis
2901206,1554,1554_1520010598,Google,2018-03-02 18:13:01.881,1520010781881
2901334,1554,1554_1520010598,Google,2018-03-02 18:13:08.937,1520010788937
2901302,1554,1554_1520010598,Google,2018-03-02 18:14:55.531,1520010895531
2901192,1554,1554_1520010598,Google,2018-03-02 18:18:51.388,1520011131388
2901207,1554,1554_1520010598,Google_Drive,2018-03-02 18:23:53.716,1520011433716
2901277,1554,1554_1520010598,Google,2018-03-02 18:24:08.376,1520011448376
2901193,1554,1554_1520010598,Google_Drive,2018-03-02 18:30:29.654,1520011829654
2901208,1554,1554_1520010598,Google,2018-03-02 18:30:35.856,1520011835856
2901194,1554,1554_1520010598,Google,2018-03-02 18:31:15.909,1520011875909
2901204,1554,1554_1520092949,Google,2018-03-03 17:02:58.109,1520092978109
2901305,1554,1554_1520092949,Google,2018-03-03 17:34:20.638,1520094860638
2901280,1554,1554_1520092949,Google,2018-03-03 17:35:20.620,1520094920620
2901306,1554,1554_1520092949,Google,2018-03-03 17:36:01.101,1520094961101
2901196,1554,1554_1520175410,Google,2018-03-04 15:56:51.149,1520175411149
2901266,1554,1554_1520175410,Google,2018-03-04 15:56:56.444,1520175416444
2901197,1554,1554_1520175410,Google,2018-03-04 16:04:38.266,1520175878266
2901227,1554,1554_1520196565,Google,2018-03-04 21:49:52.648,1520196592648
2901203,1554,1554_1520196565,Google,2018-03-04 21:50:09.071,1520196609071
2901268,1554,1554_1520196565,Google,2018-03-04 21:52:18.879,1520196738879
2901319,1554,1554_1520381245,Google,2018-03-07 01:07:50.025,1520381270025

In [29]:
list_apps

['Google', 'Google_Drive', 'WhatsApp', 'YouTube', 'Tinder', 'Google Play']

In [30]:
len(ses3_set)

14

There are 6 apps, 14 sessions

============

In [31]:
data1961 = data.loc[data.newid == 1961, ['newid', 'ids', 'app_name', 'startTime','startTimeMillis']] 
data1961 = data1961.sort_values('startTimeMillis')

In [32]:
data1961.head()

,newid,ids,app_name,startTime,startTimeMillis
3655334,1961,1961_1519861359,WhatsApp,2018-03-01 00:42:41.689,1519861361689
3655514,1961,1961_1519861359,WhatsApp,2018-03-01 00:42:47.059,1519861367059
3655615,1961,1961_1519865568,Google,2018-03-01 01:53:30.349,1519865610349
3655616,1961,1961_1519865568,Google_Calendar,2018-03-01 01:53:36.537,1519865616537
3655617,1961,1961_1519892577,Google,2018-03-01 09:23:04.727,1519892584727

In [33]:
data1961.app_name.unique()

array(['WhatsApp', 'Google', 'Google_Calendar', 'YouTube', 'Google Play',
       'Photos', 'Map'], dtype=object)

In [34]:
data2 = data1961.groupby('ids').count()
data2.reset_index(level = 0, inplace = True)

ses3 = data2.loc[data2.startTime >= 3,:]
ses3_set = set(ses3.ids)
data3s = data1961.loc[data1961.ids.isin(ses3_set)]
    
list_apps = list(data3s.app_name.unique())

In [38]:
data3s.head(10)

,newid,ids,app_name,startTime,startTimeMillis
3655330,1961,1961_1520237570,WhatsApp,2018-03-05 09:13:21.009,1520237601009
3655331,1961,1961_1520237570,Google,2018-03-05 09:13:52.129,1520237632129
3655520,1961,1961_1520237570,WhatsApp,2018-03-05 09:14:19.183,1520237659183
3655459,1961,1961_1520237570,Google,2018-03-05 09:14:43.221,1520237683221
3655521,1961,1961_1520237570,WhatsApp,2018-03-05 09:15:54.134,1520237754134
3655460,1961,1961_1520237570,Google,2018-03-05 09:16:06.935,1520237766935
3655461,1961,1961_1520237570,Google,2018-03-05 09:19:22.908,1520237962908
3655462,1961,1961_1520237570,Google,2018-03-05 09:19:54.957,1520237994957
3655522,1961,1961_1520237570,Google,2018-03-05 09:23:20.106,1520238200106
3655444,1961,1961_1520398121,Google,2018-03-07 05:48:44.484,1520398124484

In [36]:
len(ses3_set)

23

In [37]:
list_apps

['WhatsApp', 'Google', 'Google_Calendar', 'YouTube', 'Google Play', 'Photos']